[Unit]
Description=gunicorn daemon
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=vahiwe
Group=vahiwe
RuntimeDirectory=gunicorn
WorkingDirectory=/home/vahiwe/isthisarealjob-API
ExecStart=/home/vahiwe/isthisarealjob-API/itarj/bin/gunicorn --workers=2 -t 120 app:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
